@{
    
}




<html>
<head>
<style>
body {
  background-image: url('https://nairametrics.com/wp-content/uploads/2017/08/WhatsApp-Image-2017-08-10-at-2.50.09-PM.jpeg?w=700');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 75% 75%;
}
</style>
</head>
<body>
    <div >
    <h1 >INCOME AND EXPENSES</h1><hr>
    <br>
    <br >
    <br >
    <br />
    <br >
      <br>
    <br >
    <br >
    <br >
      <br>
    <br >
    <br >
    <br >
    <br />
    <br />


    <h2 style="color: blue ;">" The Well Management of Income and Expenses makes life easier"</h2>
    <h2 style="color: rgb(49, 3, 11) ;text-align: center;">--Anonymous</h2>
    
</div>





</body>
</html>

